.theme-dark {
  --header-primary: #c1c3cc;
  --header-secondary: #c1c3cc;
  --text-normal: #c1c3cc;
  --text-muted: #c1c3cc;
  --text-link: #00a3cc;
  --text-link-low-saturation: #ff0000;
  --text-positive: #5ccc96;
  --text-warning: #f2ce00;
  --text-danger: #e33400;
  --text-brand: #00a3cc;
  --background-primary: #1b1c36;
  --background-secondary: #1b1c36;
  --background-secondary-alt: #30365F;
  --background-tertiary: #16172d;
  --background-accent: #686f9a;
  --background-floating: #30365F;
  --background-nested-floating: #30365F;
  --background-mobile-primary: #ff0001;
  --background-modifier-selected: #30365F;
  --background-modifier-hover: #16172d;
  --background-modifier-selected: #30365F;
  --background-modifier-accent: #686f9a;
  --background-modifier-active: #30365F;
  --info-warning-background: #ff0002;
  --info-warning-foreground: #686f9a;
  --info-warning-text: #ff0004;
  --info-danger-background: #ff0005;
  --info-danger-foreground: #ff0006;
  --info-danger-text: #ff0007;
  --info-help-background: #30365F;
  --info-help-foreground: #00a3cc;
  --info-help-text: #ff0008;
  
  --status-positive-background: #686f9a;
  --status-positive-text: #c1c3cc;
  --status-warning-background: #e39400;
  --status-warning-text: #ff0009;
  --status-danger-background: #ff0010;
  --status-danger-text: #ff0011;
  --status-danger: #e33400;
  --status-positive: #ff0012;
  --status-warning: #ff0013;

  --black-500: #16172d;
  --green-360: #5ccc96;
  --primary-400: #b3a1e6;
  --white-500: #c1c3cc;
  --guild-boosting-pink: #ce6f8f;
  --premium-perk-yellow: #f2ce00;
  --premium-perk-purple: #b3a1e6;
  --premium-perk-dark-blue: #ff0014;
  --premium-perk-light-blue: #ff0015;
  --premium-perk-blue: #ff0016;
  --premium-perk-green: #ff0017;
  --premium-perk-pink: #ff0018;
  --premium-perk-orange: #ff0019;

  --button-danger-background: #e33400;
  --button-danger-background-hover: #e39400;
  --button-danger-background-active: #ff0000;
  --button-danger-background-disabled: #ff0000;
  --button-positive-background: #30365F;
  --button-positive-background-hover: #686f9a;
  --button-positive-background-active: #ff0000;
  --button-positive-background-disabled: #ff0000;
  --button-secondary-background: #30365F;
  --button-secondary-background-hover: #686f9a;
  --button-secondary-background-active: #ff0000;
  --button-secondary-background-disabled: #ff0000;

  --button-outline-danger-text: #e33400;
  --button-outline-danger-border: #e33400;
  --button-outline-danger-background: #ff0000;
  --button-outline-danger-background-hover: transparent;
  --button-outline-danger-text-hover: #e39400;
  --button-outline-danger-border-hover: #e39400;
  --button-outline-danger-background-active: #ff0000;
  --button-outline-danger-text-active: #ff0000;
  --button-outline-danger-border-active: #ff0000;

  --button-outline-positive-text: #ff0000;
  --button-outline-positive-border: #ff0000;
  --button-outline-positive-background: #ff0000;
  --button-outline-positive-background-hover: #ff0000;
  --button-outline-positive-text-hover: #ff0000;
  --button-outline-positive-border-hover: #ff0000;
  --button-outline-positive-background-active: #ff0000;
  --button-outline-positive-text-active: #ff0000;
  --button-outline-positive-border-active: #ff0000;

  --button-outline-brand-text: #2aa198;
  --button-outline-brand-border: #2aa198;
  --button-outline-brand-background: #ff0000;
  --button-outline-brand-background-hover: #ff0000;
  --button-outline-brand-text-hover: #ff0000;
  --button-outline-brand-border-hover: #ff0000;
  --button-outline-brand-background-active: #ff0000;
  --button-outline-brand-text-active: #ff0000;
  --button-outline-brand-border-active: #ff0000;

  --button-outline-primary-text: #00a3cc;
  --button-outline-primary-border: #00a3cc;
  --button-outline-primary-background: #ff0011;
  --button-outline-primary-background-hover: transparent;
  --button-outline-primary-text-hover: #7a5ccc;
  --button-outline-primary-border-hover: #7a5ccc;
  --button-outline-primary-background-active: #ff0010;
  --button-outline-primary-text-active: #ff0009;
  --button-outline-primary-border-active: #ff0008;

  --modal-background: #16172d;

  --scrollbar-thin-thumb: #00a3cc;
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: #00a3cc;
  --scrollbar-auto-track: transparent;
  --scrollbar-auto-scrollbar-color-thumb: #00a3cc;
  --scrollbar-auto-scrollbar-color-track: #00a3cc;

  --input-background: #30365F;
  --input-placeholder-text: #b3a1e6;
  --control-brand-foreground: #686f9a;
  --mention-foreground: #b3a1e6;

  --mention-background: #1b1c36;
  --background-mentioned: #30365F; 
  --background-mentioned-hover: #16172d;
  --background-message-hover: #30365F;
  --background-message-highlight: #686f9a;

  --channels-default: #c1c3cc;
  --channel-icon: #c1c3cc;
  --channel-text-area-placeholder: #b3a1e6;

  --channeltextarea-background: #16172d; 
  --textbox-markdown-syntax: #686f9a;
  --deprecated-card-bg: #16172d;
  --deprecated-card-editable-bg: #ff0005;
  --deprecated-text-input-bg: #ff0002;
  --deprecated-text-input-border: #ff0001;

  --focus-primary: #ff0003;
  --interactive-normal: #c1c3cc;
  --interactive-muted: #686f9a;
  --interactive-hover: #30365F;
  --interactive-active: #686f9a;
  --primary-200: #d33682;
}

