.background { 
    color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

.launcher {
    font-size: 1.3em;
    border-radius: 20;
    background-color: #ee2121;
    color: #ff002b;
    &:hover {
        background-color: #877bb6;
        color: #eed5d9;
    }
}

.usageinfo {
    border-radius: 12;
    background-color: #241b26;
}